body{
  text-align: center;
  font-size: 21px;
  font-family: 'PT Sans Narrow', sans-serif;
}


.home{
  background-image: url("backgrounds/h_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: ghostwhite;
}
.homepage>p,img,h1{ 
  padding-top: 6.8%;
}
.mse {
  padding-top: 7%;
  padding-bottom: 4%;
  animation: mouse 3s infinite;
  top: 50vh; 
}
@keyframes mouse {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.services{
  background-image: url("backgrounds/s_image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  background-position: center;
  width: 100%;
  height: 60vh;
}
#services{
font-size: 20px;
}
.png{
  display: flex;
  justify-content: space-between;
}
.port{
  padding-bottom: 5%;
}
.text{
  position: absolute;
  top: 50%;
  color: black;
  font-size: 1.3em;
  border: 3px solid white;
  padding:20px 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pic{
  display: flex;
  justify-content: space-evenly;
}
img{
  padding-right: 10px;
  padding-left: 10px;
}
.cont{
  background-image: url("backgrounds/c_image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5%;
  text-align: center;
  color: ghostwhite;
}
footer{
display: inline-block;
}
.inpo{
width: 35%;
}
input{
background: inherit;
width: 25%;
}
input{
  color:white;
}
textarea {
background: inherit;
width: 50%;
color:white;
}
::placeholder{
color: white;
}
.portfolio:hover {
  opacity: 0.3;
  transform: scale(1.1);
  transition: opacity 0.5s ease-out;
}
.whatWeDo {
  display: none;
}
.pointer {
  cursor: pointer;
}
.pointer:hover {
  transform: scale(0.8);
  box-shadow: 5px 10px 8px 10px #888888;
  border-radius: 20%;
}
